.no-js #loader {
  display: none;
}
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}
.se-pre-con {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  z-index: 9999;
  border-radius: 50%;
  border: 16px solid #ccc;
  border-top: 16px solid #055a8e;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#ansibleContent pre {
  background: #dedede;
  min-height: 400px;
  padding: 10px;
}
