{#
/**
 * @file ansible_entity.html.twig
 * Default theme implementation to present Ansible entity data.
 *
 * This template is used when viewing Ansible entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ansible_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('ansible_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
